.about-page {
    background-color: #161733;
}
.about {
    background-color: #161733;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    
}
.about-header {
    margin: 5% 0 3% 20%;
}
.about-paragraph1 {
    margin-left: 40%;
    
}
.about-paragraph {
    margin-left: 20%;
    margin-bottom: 3%;
}
.skills {
    margin-left: 12%;
}
hr {
    background: white;
}
@media screen and (max-width: 780px) {
    .about-page {
        height: 180vh;
        width: 100%;
    }
    .about {    
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about-header {
        margin-top: 35rem;
        margin-bottom: 10%;
    }
    .about-paragraph {
        margin-left: 20%;
    }
    .about-container {
        display: flex;
        flex-direction: column;
        /* justify-content: center;
        align-items: center; */
    }
}