.work {
    background: #161733;
    height: 100vh;
}

.work-header {
    color: white;
    margin: 3%;
}
.works-image {
    position: relative;
    animation: mymove 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.works-image:hover {
    opacity: 0.1;
}
.works-image1:hover {
    opacity: 0.1;
}
.works-image1 {
    position: relative;
    animation: mymove1 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes mymove {
    0% {left: -500px;}
    100% {left: -10px;}
}
@keyframes mymove1 {
    0% {right: -200px;}
    100% {right: -10px;}
}
.about-button {
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.button {
    width: 200px;
    padding: 8px;
    border-radius: 10px;
    border: none;
    background-color: aqua;
    color: grey;
}
@media screen and (max-width: 520px) {
    
    .works-image {
        width: 80%;
        margin-left: 25%;
    }
    .works-image1 {
        width: 80%;
        margin-top: 5%;
        margin-left: 15%;
    }
    .work-header {
        margin-left: 13%;
    }
    .work {
        background: #161733;
        height: 180vh;
    }
    .about-button {
        margin-top: 5%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 10%;
    }
    .button {
        width: 200px;
        padding: 8px;
        border-radius: 10px;
        border: none;
        background-color: aqua;
        color: grey;
    }
}